# Development Guidelines
## System information
OS: Linux Mint 22.1 x86_64 
Host: Z370 AORUS Ultra Gaming 
Kernel: 6.8.0-110-generic 
Packages: dpkg, flatpak, snap
Shell: bash
DE: Cinnamon 6.4.8 
WM: Mutter (Muffin) 
WM Theme: Mint-Y-Dark (Mint-Y) 
Terminal: gnome-terminal 
CPU: Intel i7-8700K (12) @ 4.700GHz 
GPU: NVIDIA GeForce GTX 1070 
GPU: Intel CoffeeLake-S GT2 [UHD Graphics 630] 
Memory: 17778MiB / 31959MiB

## Setup
### IDE
- IntelliJ IDEA

### Terminal
- default Debian

## Behavior
### General
- Never make any unprompted formatting changes to task-unrelated code.
- After a change in code, at the end of the message, mention:
    - "Changed files:" to list files that were created, updated or deleted
    - "Next steps:" to take (i.e. commands to execute) briefly

### Languages
- Answer in the main language of the user prompt (English or German).
- Nutze die Vokale "ä", "ö" und "ü" für Deutsch.

### Markdown files
- When creating or editing markdown (.md) files, never insert a newline after a headline.
- Indent with 4 spaces ("    ")
